body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 1000px;
	height: 400px;
}
#header{
	width: 100%;
	height: 20%;
	text-align: center;
	background-color: #8a87c4;
}
#menu{
	padding-top: 0.5em;
	width: 50%;
	height: 40px;
	float: left;
	background-color: #737373;
}
#profile{
	width: 30%;
	height: 100%;
	float: left;
	overflow: auto;
}
#foto{
	width: 100%;
	height: 90%;
	background-color: white;
}
#prodi{
	width: 100%;
	height: 10%;
	text-align: center;
	color: white;
	background-color: #8a87c4;
}
#main{
	width: 70%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #d1d049;
}
p{
	font-size: 18;
	text-indent: 2em;
}
.link{
	font-size: 25px;
	color: black;
	text-decoration: none;
}
button{
	width: 70px;
	height: 30px;
	margin: 1rem 40;
	border-radius: 5px;
}