body{
	background-color: #dddddd;
}
#content{
	margin:auto;
	width: 1200px;
	height: 450px;
}
#header{
	width: 100%;
	height: 20%;
	text-align: center;
	background-color: #b8e0d2;
}
#menu{
	padding-top: 0.5em;
	width: 50%;
	height: 40px;
	float: left;
	background-color: #e1dbd6;
}
#main{
	width: 100%;
	height: 100%;
	overflow: auto;
	float: left;
}
#profile{
	width: 25%;
	height: 100%;
	float: left;
	overflow: auto;
}
#foto{
	width: 100%;
	height: 90%;
	background-color: white;
}
#prodi{
	width: 100%;
	height: 10%;
	text-align: center;
	color: white;
	background-color: #b8e0d2;
}
#main{
	width: 75%;
	height: 100%;
}
#bio{
	width: 50%;
	height: 100%;
	overflow: auto;
	float: left;
	background-color: #e8d1c5;
}
p{
	font-size: 18;
	text-indent: 2em;
}
.link{
	font-size: 25px;
	color: black;
	text-decoration: none;
}
button{
	width: 70px;
	height: 30px;
	margin: 1rem 40;
	border-radius: 5px;
}